html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;   
}

body {
  padding: 20px;
  height: 100%;
  position: relative; 
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

li { 
	background: white; 
	display: block;
	text-align: left;
}

li:nth-child(odd) { 
	background: #f9f9f9; 
}


a {
  color: #00B7FF;
}

header {
   text-align:center;
   padding:5px;	 
}

nav {
   	width:150px;
   	float:left;
   	padding:5px;	      
}

section {
   float:left;
   padding:10px;
    height: 70vh;
   width:100%;
    overflow: auto;
}

footer {
   clear:both;
   text-align:center;
   padding:5px;	 	 
}

input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  padding-right : 128px;
  line-height  : 24px;
}

section div{
	float: left;
	width:100%;
}

button {
    line-height: 1.5;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.ui_button {
	padding: 2px 5px;
    line-height: 1.5;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.ui_detail{
	height: 200px;	
    border-top-color: rgba(0, 0, 0, 0.22);
    border-top-style: solid;
    border-top-width: 1px;
    border-left-color: rgba(0, 0, 0, 0.22);
    border-left-style: solid;
    border-left-width: 1px;
}
.ui_session{
	max-height:150px; 
	overflow:scroll; 
	
}

label{
	text-align: left;
}

p{
	font-size: 14px;
	margin-top: .5em; 
	color: #666;
	margin-left: 10px;
	text-align: left;
		
}

p start{
	font-size: .8em;
    font-weight: bold;
	text-transform:uppercase;
	letter-spacing:2px; 
}

/* bootstrap*/
.nav {
    margin-bottom: 10px;
}

.nav>li>a {
    padding: 5px 10px;
}

.tab-content>.tab-pane, .pill-content>.pill-pane {
    margin-left: 10px;    
}